/*------------------------------- 
       Header custom style 
---------------------------------*/
.header-background {
  background-color: #264653;
}
.button-style {
  background-color: #e76f51;
  padding: 10px 46px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.button-style:hover {
  background-color: #db5d3e;
  color: white;
}
/*------------------------------- 
Fetured Bikes 2021 custom style 
---------------------------------*/
.orange-color {
  color: #e76f51;
}
.feture-bike {
  width: 288px;
  height: 243px;
}
.feture-bike-gray {
  filter: grayscale(100%);
}
/*------------------------------- 
    Happy News custom style 
---------------------------------*/
.client-img {
  width: 149px;
  height: 149px;
}
.fa-star.color {
  color: #e77c40;
}
